<!-- About Section -->
<section class="success" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>About</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-lg-offset-2">
                <p>
                Mina Protocol is a database replication protocol, which provides 
                packing every state transition and overall state itself into a 
                constant size SNARK proof.
                </p>
            </div>
            <div class="col-lg-4">
                <p>SNARK proof being used was designed by O(1) Labs and is
                called "Pickles" SNARK. 
                It allows Mina's database to be appended in a fault-tolerant 
                manner by providing a 22Kb last state validity proof.
                </p>
            </div>
        </div>
    </div>
</section>
